
<h6 class="text-accent d-flex align-items-center flex-wrap">
        {{#str}}availablebundles, local_subscriptions{{/str}}
    
</h6>
<a class="shadow-none text-accent d-inline-flex ml-2 text-decoration-none" 
        data-toggle="collapse" 
        href="#collapse{{itemid}}" 
        role="button" 
        aria-expanded="false" 
        aria-controls="multiCollapseExample1">
        {{#str}}clicktoviewbundles, local_subscriptions{{/str}}
    </a>
<div class="collapse multi-collapse" id="collapse{{itemid}}">
    <div class="card card-body text-primary">
        {{#bundles}}
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">{{name}}</th>
                    <th scope="col">Cost</th>
                    </tr>
                </thead>
                <tbody>
                    {{#items}}
                        <tr {{#ineligibleitem}}class="text-muted"{{/ineligibleitem}}> 
                        <td>{{name}}</td>
                        <td>{{#ineligibleitem}}Ineligible{{/ineligibleitem}}{{^ineligibleitem}}{{currency}} {{cost}}{{/ineligibleitem}}</td>
                        </tr>
                    {{/items}}
                </tbody>
                <tr class="table-success">
                    <td>Total</td>
                    <td>{{currency}} {{totalcost}}</td>
                </tr>
                <tr class="table-danger">
                    <td>Discount</td>
                    <td> - {{currency}} {{discount}}</td>
                </tr>
                <tr class="table-primary">
                    <td>Price after Discount</td>
                    <td>{{currency}} {{totalcost}}</td>
                </tr>
                </table>
                {{#canbuy}}
                    {{> local_shopping_cart/addtocartdb }}
                {{/canbuy}}
                {{^canbuy}}
                    <a class="btn btn-dark disabled">
                        {{#str}}cantbuybundle, local_subscriptions{{/str}}
                    </a>                
                {{/canbuy}}
        {{/bundles}}
    </div>
</div>