{{#hasmainsubscription}}
    {{#iscohortmember}}
        {{#gwpayments}}
        
            {{#enrolledincourse}}
                {{#canupgrade}}
                    <h5> {{# str }} upgradesubscription, block_subscriptions {{/ str }} </h5>
                    {{< block_subscriptions/payment_button}}  {{/block_subscriptions/payment_button}}
                {{/canupgrade}}
                {{^isexpired}}
                    {{#canresubscribe}}
                        <h5> {{# str }} renewsubscription, block_subscriptions {{/ str }} </h5>
                        {{< block_subscriptions/payment_button}}  {{/block_subscriptions/payment_button}}
                    {{/canresubscribe}}
                {{/isexpired}}
                {{#isexpired}}
                    <h5> {{# str }} sendpaymentbutton, enrol_gwpayments {{/ str }} </h5>
                    {{< block_subscriptions/payment_button}} {{/block_subscriptions/payment_button}}
                {{/isexpired}}
            {{/enrolledincourse}}
            {{^enrolledincourse}}
                <h5> {{# str }} sendpaymentbutton, enrol_gwpayments {{/ str }} </h5>
                {{< block_subscriptions/payment_button}}  {{/block_subscriptions/payment_button}}
            {{/enrolledincourse}}
            {{#js}}
                {{#enablecoupon}}
                require(['enrol_gwpayments/module'], function(module) {
                    module.init();
                });
                {{/enablecoupon}}
                require(['core_payment/gateways_modal'], function(modal) {
                    modal.init();
                });
            {{/js}}
            {{> local_shopping_cart/addtocartdb }}
        {{/gwpayments}}
        {{^gwpayments}}
            <a class="btn btn-primary action-subscribe-{{subscriptionid}}" href="{{{enrollink}}}">
                {{#str}}enrol, block_subscriptions, {{/str}}
            </a>
        {{/gwpayments}}
    {{/iscohortmember}}
    {{^iscohortmember}}
        <a class="btn btn-dark disabled">
            {{#str}}enrollmentunavailable, block_subscriptions, {{/str}}
        </a>
    {{/iscohortmember}}
{{/hasmainsubscription}}
{{^hasmainsubscription}}
    <a class="btn btn-dark disabled">
            {{#str}}enrollmentunavailablenomain, block_subscriptions, {{/str}}
    </a>
{{/hasmainsubscription}}