{{#memberdetails}}
   <p class="text-primary"> {{membershiptitle}} : <strong>{{membershipnumber}}</strong></p>
{{/memberdetails}}
{{#enrollist}}
{{>block_subscriptions/subscription_list_item}}
{{/enrollist}}